.production1 {
    position: relative;
    background: url("../../images/hanzlik_compress.jpg") no-repeat center center;
    background-size: cover;
}

.production1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.production1:hover::after {
    opacity: 1;
    transition: 0.8s all ease-out; 
    
}

.production1:active::after {
    opacity: 1;
    transition: 0.8s all ease-out;   
}

.production2:active::after {
    opacity: 1;
    transition: 0.8s all ease-out;   
}

.production3:active::after {
    opacity: 1;
    transition: 0.8s all ease-out;   
}

.production4:active::after {
    opacity: 1;
    transition: 0.8s all ease-out;   
}

/************************************************************/
.production2 {
    position: relative;
    background: url("../../images/svadobna_compress.jpg") no-repeat center center;
    background-size: cover;
}

.production2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.production2:hover::after {
    opacity: 1;
    transition: 0.8s all ease-out; 
}

.production3 {
    position: relative;
    background: url("../../images/stuzkova-v2-compress.jpg") no-repeat center center;
    background-size: cover;
}

.production3::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.production3:hover::after {
    opacity: 1;
    transition: 0.8s all ease-out; 
}

.production4 {
    position: relative;
    background: url("../../images/visuals_compress.png") no-repeat -70px center;
    background-size: cover;
}

.production4::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.production4:hover::after {
    opacity: 1;
    transition: 0.8s all ease-out; 
}