@import '../../styles/variablies';

.production-card {
	z-index: 20;
	cursor: default;
	position: relative;
	width: 30rem;
	height: 25rem;
	margin: 1rem;
	padding: 3rem 2.3rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 0 1rem rgba($color-black, 0.3);
	transition: all 0.3s ease;

	&__title {
		font-size: 2.2rem;
		font-weight: lighter;
		transition: all 0.4s ease;
		letter-spacing: 2.2px;
		margin-bottom: 3rem;
	}

	&:hover {
		box-shadow: 0 0 2rem rgba($color-white, 0.3);
	}

	&__container {
		width: 100%;
		transition: all 0.6s ease 0.2s;
	}

	&__description {
		font-size: 1.3rem;
		line-height: 1.5;
		height: 7.6rem;
		margin-bottom: 2rem;
	}

	&__link {
		cursor: pointer;
		display: inline-block;
		width: 100%;
		border: 1px solid $color-white;
		text-decoration: none;
		color: $color-white;
		padding: 1rem;
		box-shadow: 0 0 0.5rem rgba($color-black, 0.3);
		transition: all 0.3s ease 0.1s;

		&:hover {
			box-shadow: 0 0 2rem rgba($color-black, 0.3);
			transform: scale(1.1);
		}

		&:active {
			box-shadow: 0 0 1rem rgba($color-black, 0.3);
			transform: scale(1.05);
		}
	}
}

///images

.hanzlik {
	background: url('../../styles/assets/hanzlik_compress.jpg') no-repeat center center;
	background-size: cover;

	&::after {
		z-index: -5;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($color-black, 0.4);
	}
}

.svadobna {
	background: url('../../styles/assets/svadobna_compress.jpg') no-repeat center center;
	background-size: cover;

	&::after {
		z-index: -5;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($color-black, 0.4);
	}
}

.stuzkova {
	background: url('../../styles/assets/stuzkova_compress.jpg') no-repeat center center;
	background-size: cover;

	&::after {
		z-index: -5;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($color-black, 0.4);
	}
}

.visuals {
	background: url('../../styles/assets/visuals_compress.jpg') no-repeat center center;
	background-size: cover;
	&::after {
		z-index: -5;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($color-black, 0.4);
	}
}
