@import '../styles/variablies';

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba($color-black, 0.5);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;

    .production-container__row {
        :first-child{
            margin-bottom: 2rem;
        }

        :last-child{
            // margin-bottom: 0;
        }
    }
}

