/* primary color #303841 */
/* secondary color #00adb5 */
/* text color #eeeeee */
/* third color #ff5722 */

/* #343d46	(52,61,70)
#4f5b66	(79,91,102)
#65737e	(101,115,126)
#a7adba	(167,173,186)
#c0c5ce	(192,197,206) */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background: url("../images/pozadie_compress.jpg") no-repeat center center ;
  background-size: cover;
  position: absolute;
  z-index: -15;
  overflow: hidden;
}

.App::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -14;
}

.container-content{
  max-width: 600px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 40px 40px;
  text-align: center;
  color: #fff;
}


.heading {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  text-shadow: 0 5px 10px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.35);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {
  .App {
    background: url("../images/pozadie_compress_mobile.jpg") no-repeat center center ;
    background-size: cover;
  }
}

@media all and (max-width: 480px) {
  .App {
    background: url("../images/pozadie_compress_mobile.jpg") no-repeat center center ;
    background-size: cover;
  }
}