@import '../styles/variablies';

.production-container {
    min-height: 100vh;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-white;
    
    .production-container__background{
        width: 100%;
        min-height: 100vh;
        position: absolute;
        // z-index: 50;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            // z-index: 55;
            background-color: rgba($color-black, 0.3);
        }
    }

    &__row {
        display: flex;
    }
}


@media screen and (max-width: 680px) {
    .production-container {
        position:relative;

        &__background {
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            // min-height: 100%;
        }

        &__row {
            flex-direction: column;
            justify-content: center;
        }
    }
}