@import '../styles/variablies';

.container {
	// position: relative;
	// z-index: 999;
	display: grid;
	width: 100%;
	min-height: 100vh;

	// grid-template-columns: repeat(2, minmax(30rem, 1fr));
	grid-template-columns: repeat(2, 45rem);

	// grid-template-rows: repeat(2, minmax(30rem, 1fr));
	grid-template-rows: repeat(2, 45rem);

	// grid-auto-flow: column;
	grid-auto-flow: dense;

	// grid-gap: 3rem;
	// align-items: center;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	text-align: center;
	// grid-auto-flow: column;

	@media all and (max-width: 1000px) {
		grid-template-columns: repeat(1, 25rem);
		padding-top: 5rem;
		padding-bottom: 5rem;

		row-gap: 5rem;
		// grid-template-rows: repeat(2, minmax(30rem, 1fr));
		grid-template-rows: repeat(4, 25rem);
	}

	// grid-column: span 2; /* Spans two columns */
	// grid-row: span 2; /* Spans two rows */

	.card {
		position: relative;
		width: 40rem;
		height: 40rem;
		// background-color: #333;
		padding: 3rem 2.5rem;
		border-radius: 5px;
		box-shadow: 10px 10px 30px rgba($color: #fff, $alpha: 0.15);

		@media all and (max-width: 1000px) {
			width: 100%;
			height: 100%;
			// padding: 5rem;
			// margin: 5rem;
		}

		&__image {
			position: absolute;
			// background-image: cover;
			background-size: cover;
			width: 100%;
			height: 100%;
			top: 0;
			// bottom: 0;
			left: 0;
			// right: 0;
			// overflow: h  idden;
			z-index: -1;
		}

		&__title {
			font-weight: 700;
			font-size: 2.8rem;
			margin-bottom: 2rem;
			letter-spacing: 0.2rem;
			text-transform: uppercase;

			@media all and (max-width: 1000px) {
				font-weight: 700;
				font-size: 1.7rem;
				letter-spacing: 0.1rem;
				margin-bottom: .5rem;
			}
		}

		&__description {
			font-size: 1.8rem;
			line-height: 1.5;

			@media all and (max-width: 1000px) {
				font-size: 1.4rem;
				line-height: 1.3;
			}
		}

		&__btn {
			position: absolute;
			bottom: 3rem;
			transform: translateX(-50%);
			text-decoration: none;
			color: #000;
			font-size: 2.2rem;
			font-family: inherit;
			text-transform: uppercase;
			background-color: #fff;
			padding: 0.8rem 2.2rem;
			width: 80%;

			@media all and (max-width: 1000px) {
				font-size: 1.6rem;
			}
		}
	}
}

@media all and (max-width: 1000px) {
}
