@import '../styles/variablies';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap');

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.6rem;
	color: $color-white;
}

.production-container__background {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background-size: cover;
}
